body {
	background-color: mediumturquoise;
}
#container {
	margin-right: auto;
	margin-left: auto;
	width: auto;
	border: 1px solid white;
	border-radius: 8px;
	text-align: center;

	background-color: black;
	color: white;
}

#calculator {
	colour: white;
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
	width: 200px;
	border: 1px solid white;
}

#button {
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
}

#spokemodal {
	display: none;
	colour: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
	width: 200px;
	cursor: pointer;
	border: 1px solid white;
}

.calc_field {
	border-radius: 10px;
	outline: none;
	padding: 6px;
	color: black;
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	text-align: center;
}

#info {
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
	width: 330px;
	border: 1px solid white;
	color: white;
	font-family: 'Oswald', sans-serif;
}

#formula {
	height: 40px;
	width: 330px;
	background-image: url(images/eq_tall.png)
}

#heading {
	font-family: 'Oswald', sans-serif;
}
